<header class="main-header">
    <div class="brand">
        <a href="./">
            <img class="logo" src="/img/news.png" alt="Logo">
            <h1>Notícias</h1>
        </a>
    </div>
</header>